        /* CONFIGURAÇÕES GERAIS */
*{
    margin:0;
}
body{
    margin:0;
    padding: 0;
}
        /* AREA DO MENU */
.cabecalho{
padding-top:10px ;
    text-align:justify;

    border-bottom: 2px solid black;
    padding-left: 10px;
    height: 30px;
}

ul.ul_cabecalho li{   
    margin: 10px;
    list-style: none;
}
h1{
    margin:20px;
    font-size: 20px;
    display: inline;
}
        /* AREA DA SIDEBAR */
      
.sidebar{
    border-right: grey;
    background-color: rgb(136, 131, 131);
    height: 892px;
    float: left;
    border-radius: 25px;
}
.sidebar ul li:nth-child(1){
    border-top: 2px solid black;
    width: 20px;
}
ul li a{
    display: block;
    font-size: 18px;
    margin-bottom: 200px;
}
a{
    text-decoration: none;
    color: black;
}
        /* AREA CONTEUDO */
.avatar {
    float: left;
    width:100px;
    height: 80px;
    margin: 25px;
    border-radius: 20px;
    background-color: #D6E9FE;
    }
.comment {
margin: 10px;
    overflow:hidden;
}

table{
    margin:20px;
}
h3{
    padding-top: 20px;
}
h2{
    padding: 40px;
    margin-left: 50px;
    font-size: 15px;
}
p{
    font-size: 12px;
    margin-left: 4px;  
}
.ultima{
    border-bottom: 2px solid grey;
    margin: 0;
}
table{
    position: relative;
    left: 50px;
    text-align: center;
    align-self: center;
    border: 1px solid black;
}

.imagem_camarao{
    float: left;
    width:100px;
    height: 50px;
    margin:10px;
    border-radius: 20px;
}
.imagem_camarao2{
    width:100px;
    height: 50px;
    border-radius: 20px;
}

/* AREA BOTAO E REFERENCIAS */
.referencias ul li{
    list-style: none;
    font-size: 15px;
    color: rgb(109, 107, 107);
}
.referencias{
    text-align:center;
    border-bottom: 2px solid black;
}

.teste-botao{

    color: rgb(242, 240, 240);
    font-size: 15px;
    margin-top: 10px;
    background-color: rgb(142, 76, 208);
    padding:5px 8px;
    border-radius: 25px;
    
}
.teste-botao:hover{
    background-color: rgb(82, 78, 78);
}
.teste-div{
    margin-top: 50px;
    margin-bottom: 50px;
}
h2{
    border-top: 2px solid rgb(119, 119, 119);
    width: 500px;
}
/* CONTEUDO RODAPE */
.rodape-conteudo{
    font-size: 15px;
    padding: 5px;
    margin: 5px;

}
.rodape{
    text-align:center;
    font-style: italic;
   margin: 20px;
}
td{
    border: 1px solid black;
}

.item-menor td{
    font-size: 10px;
}
.item-principal td{
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0;
}

