*{
    padding:0;
    margin: 0;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding-left: 10px;
}
body{
    margin:0;
    padding: 0;
}
h1{
    margin:20px;
    font-size: 10px;
    display: inline;
}
h2{
    margin-left: 50px;
    font-size: 15px;
}
ul,p{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul.ul_cabecalho li:nth-child(1){
    border-bottom: 2px solid black;

}
ul.ul_cabecalho li{
    display: inline;
    margin: 10px;
}
.ul_cabecalho{
    margin:20px;
}
.imagem_camarao{
    width:100px;
    height: 50px;
    margin:10px;
    border-radius: 20px;
}
.imagem-e-conteudo1{
    margin-left: 100px;
    margin-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
p{
    width: 100%;
    height: 100%;
    margin-left: 4px;  
}
main{
    margin-top: 40px;
}
.imagem_camarao2{
    width:100px;
    height: 50px;
    margin:10px;
    border-radius: 20px;
}
.referencias ul li{
    list-style: none;
    font-size: 8px;
    color: rgb(109, 107, 107);
}
.referencias{
    text-align:center;
    border-bottom: 2px solid black;
}

.teste-botao{

    color: rgb(242, 240, 240);
    font-size: 10px;
    margin-top: 10px;
    background-color: rgb(142, 76, 208);
    padding:5px 8px;
    border-radius: 25px;
    
}
.teste-botao:hover{
    background-color: rgb(82, 78, 78);
}
.teste-div{
    margin-top: 50px;
    margin-bottom: 50px;
}
h2{
    border-top: 2px solid rgb(119, 119, 119);
    width: 500px;
}
.rodape-conteudo{
    font-size: 8px;
    padding: 5px;
    margin: 5px;

}
.rodape{
    text-align:center;
    font-style: italic;
}
table{
    position: relative;
    left: 50px;
    text-align: center;
    align-self: center;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

.item-menor td{
    font-size: 10px;
}
.item-principal td{
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0;
}
.container-subtitulo{
    margin: 20px;
}